@model BillBucket.Models.Client

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoSiret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoSiret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
    </dl>
</div>

<div class="jumbotron">
    <ul>
        @foreach (var fac in @Model.Factures)
        {
        <li>
            <span class="font-weight-bold">Facture n°@fac.NoFacture du @fac.DateEmission</span>
            <a class="btn btn-primary" asp-action="Details" asp-controller="Factures" asp-route-id="@fac.Id">Details</a>
            <a class="btn btn-primary" asp-action="Edit" asp-controller="Factures" asp-route-id="@fac.Id">Edit</a>
        </li>
            
            
        }
    </ul>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
